# HTTP server configuration
HOST=localhost
PORT=3000

# PostgreSQL credentials
PGUSER=postgres
PGPASSWORD=postgres
PGDATABASE=openjob_api
PGHOST=localhost
PGPORT=5432

# JWT Keys (Use secure strings in production)
ACCESS_TOKEN_KEY=openjob_access_token_secret_key
REFRESH_TOKEN_KEY=openjob_refresh_token_secret_key
